@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@500&family=Montserrat:wght@500;700&display=swap");

:root {
  --montserrat: "Montserrat", sans-serif;
  --fraunces: "Fraunces", sans-serif;
  --dark-cyan: hsl(158, 36%, 37%);
  --cream: hsl(30, 38%, 92%);
  --dark-blue: hsl(212, 21%, 14%);
  --dark-grayish-blue: hsl(228, 12%, 48%);
  --white: hsl(0, 0%, 100%);
  font-size: 14px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  background: var(--cream);
  justify-content: center;
  align-items: center;
  height: 100vh;
}

main {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-container {
  display: flex;
  width: 600px;
}
.card-container-row {
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card-container-row:last-of-type {
  padding: 32px;
  border-radius: 0px 8px 8px 0px;
  background-color: var(--white);
}
.card-container-row img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 8px 0px 0px 8px;
}
.card-container-row h2 {
  text-transform: uppercase;
  font-family: var(--montserrat);
  font-weight: 700;
  font-size: 1rem;
  letter-spacing: 4px;
  color: var(--dark-grayish-blue);
}
.card-container-row h1 {
  font-family: var(--fraunces);
  color: var(--dark-blue);
  line-height: 32px;
  font-size: 2.5rem;
}
.card-container-row p {
  font-family: var(--montserrat);
  line-height: 20px;

  font-size: 14px;
  color: var(--dark-grayish-blue);
}
.card-container-row div {
  display: flex;
  align-items: center;
}
.card-container-row h3 {
  font-family: var(--fraunces);
  color: var(--dark-cyan);
  font-size: 2.5rem;
  display: inline-block;
  margin-right: 0.5rem;
}
.card-container-row h4 {
  font-family: var(--montserrat);
  font-weight: 500;
  color: var(--dark-grayish-blue);
  text-decoration: line-through;
  display: inline-block;
  font-size: 14px;
}
.card-container-row button {
  cursor: pointer;
  border: none;
  outline: none;
  background: var(--dark-cyan);
  width: 100%;
  height: 48px;
  border-radius: 8px;
  font-size: 1rem;
  font-family: var(--montserrat);
  color: var(--white);
  padding: 0px 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  caret-color: transparent;

  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  transition-duration: 0.5s;
}
.card-container-row button img {
  height: 1.25rem;
  width: auto;
}
.card-container-row button:hover {
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  transition-duration: 0.5s;
  background-color: #1a4031;
}
.card-container-row button:focus {
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  transition-duration: 0.5s;
  background-color: #1a4031;
}
footer {
  height: 64px;
  background-color: var(--dark-blue);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .attribution {
  padding: 0 32px;
  font-family: var(--montserrat);
  font-size: 16px;
  color: var(--cream);
  text-decoration: none;
}
footer .attribution a {
  text-decoration: none;
  color: var(--dark-cyan);
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  transition-duration: 0.5s;
}

footer .attribution a:focus {
  color: #00cc00;
  border: none;
  outline: none;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  transition-duration: 0.5s;
}

@media screen and (max-width: 820px) {
  footer .attribution {
    font-size: 14px;
  }
}

@media screen and (max-width: 625px) {
  body {
    display: flex;
    flex-direction: column;
    background: var(--cream);
    justify-content: center;
    align-items: center;
    height: 100vh;
    caret-color: transparent;
  }
  .card-container {
    flex-direction: column;
    width: 340px;
    height: 580px;
  }
  .card-container-row {
    height: 240px;
  }
  .card-container-row:last-of-type {
    padding: 24px;
    border-radius: 0px 0px 8px 8px;
    background-color: var(--white);
    flex: 1 1 100%;
  }
  .card-container-row img {
    height: 100%;
    width: 100%;
    flex-basis: 1;
    object-fit: cover;
    border-radius: 8px 8px 0px 0px;
  }
  .card-container-row h2 {
    font-size: 12px;
  }
  .card-container-row h1 {
    font-size: 28px;
    line-height: 28px;
  }
  .card-container-row p {
    line-height: 16px;
  }
  .card-container-row h3 {
    font-size: 28px;
  }
  .card-container-row button {
    padding: 0px 92px;
  }
  footer .attribution {
    font-size: 12px;
  }
  @media screen and (max-width: 400px) {
    footer .attribution {
      font-size: 10px;
    }
  }
}
